@{
    ViewBag.Title = "Empatia";
}

<div class="row">
    <h1>Empatía</h1>
    <div class="row">
        <table class="table table-responsive">
            <tr>
                <th>Categorías</th>
                <th>Pésimo</th>
                <th>Mal</th>
                <th>Regular</th>
                <th>Bueno</th>
                <th>Excelente</th>
            </tr>
            @foreach (var empatia in Model)
            {
        <tr>
            <td>@empatia.nombre</td>
            <td>@empatia.e1</td>
            <td>@empatia.e2</td>
            <td>@empatia.e3</td>
            <td>@empatia.e4</td>
            <td>@empatia.e5</td>
        </tr>            }
        </table>
        <div style="display: flex; align-items: center; justify-content: center; margin: 20px 0;">
            <iframe width="1000" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiNTcwNDRlODEtOTcyMy00MGM4LWE0NjgtODlhYjE3MDU3OGM3IiwidCI6ImY0MmM0NzEyLTY2Y2EtNGY4My1iMTg4LTQ3ZDE2NTNiNmU3MCJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div>
            <input class="btn btn-primary" type="button" onclick="history.back()" name="volver atrás" value="Volver">
        </div>
    </div>
</div>
