@{
    ViewBag.Title = "Empatia";
}

<div class="row">
    <h1>Empatía</h1>
    <div class="row">
        <table class="table table-responsive">
            <tr>
                <th>Valor 1</th>
                <th>Valor 2</th>
                <th>Valor 3</th>
                <th>Valor 4</th>
                <th>Valor 5</th>
            </tr>
            @foreach (var empatia in Model)
            {
                <tr>
                    <td>@empatia.e1</td>
                    <td>@empatia.e2</td>
                    <td>@empatia.e3</td>
                    <td>@empatia.e4</td>
                    <td>@empatia.e5</td>
                </tr>
            }
        </table>
        <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=c10c573b-ac2a-49cc-ae85-6494214e7f80&autoAuth=true&ctid=717b9a79-1b91-41ab-a6f7-a579b46a9b41&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
