@{
    ViewBag.Title = "Capacidad de Respuesta";
}

<div class="row">
    <h1>Capacidad de Respuesta</h1>
    <div class="row">
        <table class="table table-responsive">
            <tr>
                <th>Categorías</th>
                <th>Pésimo</th>
                <th>Mal</th>
                <th>Regular</th>
                <th>Bueno</th>
                <th>Excelente</th>
            </tr>
            @foreach (var respuesta in Model)
            {
                <tr>
                    <td>@respuesta.nombre</td>
                    <td>@respuesta.r1</td>
                    <td>@respuesta.r2</td>
                    <td>@respuesta.r3</td>
                    <td>@respuesta.r4</td>
                    <td>@respuesta.r5</td>
                </tr>
            }
        </table>
        <div style="display: flex; align-items: center; justify-content: center; margin: 20px 0;">
            <iframe width="1500" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiYTMzNWI1M2QtYmRkNi00MGVkLThlZDItNGMwMGMzM2E2OGNiIiwidCI6ImY0MmM0NzEyLTY2Y2EtNGY4My1iMTg4LTQ3ZDE2NTNiNmU3MCJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div>
            <input class="btn btn-primary" type="button" onclick="history.back()" name="volver atrás" value="Volver">
        </div>
    </div>
</div>
