@{
    ViewBag.Title = "Seguridad";
}

<div class="row">
    <h1>Seguridad</h1>
    <div class="row">
        <table class="table table-responsive">
            <tr>
                <th>Categorías</th>
                <th>Pésimo</th>
                <th>Mal</th>
                <th>Regular</th>
                <th>Bueno</th>
                <th>Excelente</th>
            </tr>
            @foreach (var seguridad in Model)
            {
                <tr>
                    <td>@seguridad.nombre</td>
                    <td>@seguridad.s1</td>
                    <td>@seguridad.s2</td>
                    <td>@seguridad.s3</td>
                    <td>@seguridad.s4</td>
                    <td>@seguridad.s5</td>
                </tr>
            }
        </table>
        <div style="display: flex; align-items: center; justify-content: center; margin: 20px 0;">
            <iframe width="1500" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiNjIwYWMxMjItOWNjZS00MGNmLWFlN2YtNjVjMmMwMzU4NzVkIiwidCI6ImY0MmM0NzEyLTY2Y2EtNGY4My1iMTg4LTQ3ZDE2NTNiNmU3MCJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div>
            <input class="btn btn-primary" type="button" onclick="history.back()" name="volver atrás" value="Volver">
        </div>
    </div>
</div>
