@{
    ViewBag.Title = "Tangibilidad";
}

<div class="row">
    <h1>Tangibilidad</h1>
    <div class="row">
        <table class="table table-responsive">
            <tr>
                <th>Categorías</th>
                <th>Pésimo</th>
                <th>Mal</th>
                <th>Regular</th>
                <th>Bueno</th>
                <th>Excelente</th>
            </tr>
            @foreach (var tangibilidad in Model)
            {
                <tr>
                    <td>@tangibilidad.nombre</td>
                    <td>@tangibilidad.t1</td>
                    <td>@tangibilidad.t2</td>
                    <td>@tangibilidad.t3</td>
                    <td>@tangibilidad.t4</td>
                    <td>@tangibilidad.t5</td>
                </tr>
            }
        </table>
        <div style="display: flex; align-items: center; justify-content: center; margin: 20px 0;">
            <iframe width="1000" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiNzU3MzBlNDEtZGZmNS00YTI4LWJmNmYtNzIwNTVhNjdjMzg4IiwidCI6ImY0MmM0NzEyLTY2Y2EtNGY4My1iMTg4LTQ3ZDE2NTNiNmU3MCJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div>
            <input class="btn btn-primary" type="button" onclick="history.back()" name="volver atrás" value="Volver">
        </div>
    </div>
</div>